MoxBackEnd/obj/project.nuget.cache
MoxBackEnd/obj/project.assets.json
MoxBackEnd/obj/MoxBackEnd.csproj.nuget.g.targets
MoxBackEnd/obj/MoxBackEnd.csproj.nuget.g.props
MoxBackEnd/obj/MoxBackEnd.csproj.nuget.dgspec.json
MoxBackEnd/obj/Debug/net9.0/MoxBackEnd.GeneratedMSBuildEditorConfig.editorconfig

MoxBackEnd/appsettings.json
