

.projects-page {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: calc(100vw - 250px);
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}


.project-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
}



.createprojectbutton {
    margin: 24px auto 0 auto; 
    color: white;
    background-color: #1E3A8A;
}
.createprojectbutton:hover {
    background: #f3f4f6;
    color: #1E3A8A;
}

.create-project-from-button {
    background: #1E3A8A;
    color: white;
}

.create-project-from-button:hover {
    background: #f3f4f6;
    color: #1E3A8A;
}

.create-project-from-button-secondary {
    background: #f3f4f6;
    color: #6D28D9;
}

.create-project-from-button-secondary:hover {
    background: #6D28D9;
    color: white;
}


.createprojectcontainer {
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 24px;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}



