.projects-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: red;
}

.createprojectbutton {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    
    max-width: 400px;
    width: 100%;
    margin-left: 40px;
    margin-right: 0;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createprojectcontainer {
    padding: 24;
    max-width: 600;
    margin: 0 auto;
    border: 2px solid red;
    float: right;
}

