.projects-page {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: calc(100vw - 250px);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
}

.createprojectbutton:hover {
  background: #f3f4f6;
  color: #1e3a8a;
}

.create-project-from-button {
  background: #1e3a8a;
  color: white;
}

.create-project-from-button:hover {
  background: #f3f4f6;
  color: #1e3a8a;
}

.create-project-from-button-secondary {
  background: #f3f4f6;
  color: #6d28d9;
}

.create-project-from-button-secondary:hover {
  background: #6d28d9;
  color: white;
}

.createprojectcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  padding: 24px;
  box-sizing: border-box;
  min-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
