.kanban-column {
  @apply bg-white bg-opacity-90 shadow-sm border border-transparent rounded-box grow p-4 min-h-[200px] transition;
}

.kanban-card {
  @apply bg-white shadow-md rounded-lg p-4 cursor-move hover:shadow-lg transition;
  user-select: none;
  touch-action: none;
  z-index: 10;
}

.kanban-header {
  @apply flex flex-col md:flex-row justify-between items-center gap-4 px-6 py-4 shadow-sm rounded-b-lg;
}

.kanban-select {
  @apply select select-bordered;
}

.kanban-avatar {
  @apply avatar placeholder;
}

.kanban-avatar-circle {
  @apply bg-neutral-focus text-neutral-content rounded-full w-10;
}

.kanban-column-title {
  @apply text-[#1D3557];
}

/* Fallback styling */
.card {
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid white;
  color: #122235;
}

.btn-edit {
  background-color: #200072;
  color: #122235;
  border: none;
}

.kanban-column-title {
  color: #1D3557;
}
